/*
* Metadata CSS.
*/

.solr-fields dt, .solr-fields dd{
  border: none !important;
}

dl.islandora-inline-metadata{
  letter-spacing: inherit !important;
  h1{
    font-weight: normal;
  }
}

.pager li.pager-current{
  color: #f08339;
}

.solr-label.dc-description{
  font-weight: normal;
  color: #F08339;
}

fieldset{
  border: none !important;
}

fieldset.islandora-metadata{
  dd p{
    margin-top: .1em;
    margin-bottom: .1em;
  }
}